<h1>Список статей</h1>
<%= will_paginate @articles %>
<table class="table table-bordered">
<tr>
  <td>Title</td>
   <td>Author</td>
   <td>Tags</td>
   <td>Date create</td>
   <td></td>
</tr>
<% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.author.name %></td>
      <td>
      <% article.tags.each do |tag| %>
              <%=link_to tag.name, tag_articles_path(tag.id)%>
      <%end%>
      </td>
      <td><%= l article.created_at, format: :short%></td>
      <td><%= link_to "Просмотреть", article_path(article.id) %></td>
    </tr>
<% end %>
</table>